<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TriageHelper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <!-- Columna Izquierda -->
        <div class="left-column">
            <div class="header-content">
                <img src="{{ url_for('static', filename='images/TriageHelper_logoprincipal.jpg') }}" alt="Logo" class="logo">
                <div class="header-text">
                    <h1>Dr. Pedro Jiménez Díaz</h1>
                    <h3>Traumatología</h3>
                </div>
            </div>

            <div class="patient-list">
                <div class="controls">
                    <h2>Lista de Pacientes</h2>
                    <button id="sortButton">Ordenar por Gravedad</button>
                </div>
                <div id="patientsContainer">
                    {% for paciente in vble_paciente %}
                    <div class="patient-item" data-severity="{{ paciente.gravedad_ingreso }}">
                        <div>
                            <h3>{{ paciente.nombre }}</h3>
                            <p>{{ paciente.motivo_ingreso }} - 
                               {% if paciente.ingresado_actualmente %}Ingresado{% else %}Alta médica{% endif %}</p>
                        </div>
                        <div class="severity">
                            Gravedad {{ paciente.gravedad_ingreso }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <!-- Columna Derecha -->
        <div class="right-column">
            <div class="search-container">
                <input type="text" id="symptomSearch" placeholder="Buscar por síntomas...">
                <button class="search-button">Buscar</button>
            </div>
            
            <div class="patient-details">
                <div class="details-header">
                    <h2>Detalles del Paciente</h2>
                </div>
                <div id="patientInfo">
                    <p class="info-placeholder">Seleccione un paciente de la lista</p>
                    <div class="info-content">
                        <!-- Los detalles se cargarán dinámicamente -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>